body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: #1b2127;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-weight: normal;
  font-size: 61px;
}

h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  margin: 0;
  padding-bottom: 10px;
}

p {
  font-size: 25px;
  margin-bottom: 0;
}

.header {
  color: #ececed;
  background-color: #1b2127;
}

.hero {
  color: #ececed;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: auto;
  height: 500px;
  padding-bottom: 50px;
}

a {
  color: #ececed;
  text-decoration: none;
}

.hero-header {
  display: flex;
  justify-content: flex-end;
}

.hero-header a {
  color: #ececed;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 30px 0 0 40px;
  font-size: large;
}

.hero-header ol {
  display: flex;
  height: inherit;
}

.hero-header ol {
  display: flex;
  height: inherit;
  justify-content: flex-end;
}

.hero-header ol li {
  display: inherit;
}

.hero-text-short {
  display: none;
}

.about {
  padding: 50px;
  background-color: #ececed;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.experience {
  padding: 50px;
  padding-bottom: 25px;
  background-color: #e3e5e7;
}

.exp-container {
  display: flex;
  flex-direction: column;
}

.exp-imgContainer {
  margin: 50px 0;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: opacity(0.7);
}

.exp-imgContainer img {
  filter: grayscale(1);
}

.contact {
  color: #e3e5e7;
  background-color: #1b2127;
  margin: 30px 0 10px;
}

.exp-img {
  width: 50%;
  height: auto;
}

#logo-corg {
  max-width: 40%;
}

.footer {
  color: #ececed;
  margin: 0 20px;
  background-color: #1b2127;
  text-align: right;
  font-weight: lighter;
}

.footer h3 {
  font-weight: lighter;
}

.contact-container {
  flex-direction: column;
  align-items: flex-start;
}

.contact {
  display: flex;
}

.contact a {
  font-weight: lighter;
  font-size: large;
  margin-top: 10px;
}

.contact-txt {
  border-style: solid;
  border-radius: 5px;
  border-color: gray;
  margin: 10px 0;
}

.container {
  width: 800px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

@media screen and (max-width: 1024px) {
  .hero {
    padding-bottom: 0;
  }

  .experience,
  .about {
    padding: 3em;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
    text-align: center;
  }

  h2 {
    font-size: 2.5em;
    text-align: center;
  }

  h3 {
    font-size: smaller;
    text-align: center;
  }

  p {
    font-size: 1.5em;
    text-align: justify;
  }

  .container {
    width: 100%;
  }

  .hero {
    height: auto;
    padding: 2em 0;
  }

  .hero-header {
    display: none;
  }

  .exp-imgContainer {
    margin: 1.5em;
    overflow-x: auto;
  }

  .exp-img,
  #logo-corg {
    width: 100%;
    max-width: 100%;
  }

  .experience {
    padding-bottom: 0.1em;
  }

  .contact {
    margin-bottom: 20px;
    padding: 0 2em;
  }
}

@media screen and (max-width: 480px) {
  .hero-text-short {
    display: block;
  }

  .hero-text-long {
    display: none;
  }
  .experience,
  .about {
    padding: 2em;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}
